:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
@font-face {
  font-family: Baufra-Bold;
  src: url("../fonts/Baufra-Bold.ttf");
}
#leftBracket {
  color: #42d786;
}
#rightBracket {
  color: #6268e1;
}
.course-title {
  font-size: 40px;
}
.codeblock {
  background: #243646;
  color: aliceblue;
  border-left: 5px solid white;
  padding: 10px 10px;
  font-family: "Cairo", sans-serif;
}
.codeblock > div,
.codeblock > p,
.codeblock > li {
  background-color: #243646;
}

.color-green {
  color: #42d786;
  font-weight: bold;
}
#course-display-wrapper {
  font-family: Baufra-Bold;
}
.sectionBlocks h3 {
  color: #42d786;
  font-weight: bold;
  font-family: Baufra-Bold;
}
.sectionBlocks h4 {
  font-weight: bold;
  color: aliceblue;
}
.sections h4 {
  margin-left: 20px;
  font-size: medium;
}
.sectionBlocks h5 {
  font-weight: bold;
}
.sectionBlocks {
  border-bottom: 2px solid #0c3c66;
  padding: 10px;
}
.collapsible-trigger {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}
.collapsible-trigger-opened {
  color: #42d786;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 20px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.bullet-points h6 {
  font-weight: bold;
}
.bullet-points {
  padding: 5px 0;
}

#quizBtn {
  left: 35% !important;
  top: 30px;
}

@media (max-width: 768px) {
  .course-title {
    font-size: 25px;
  }
  .collapsible-trigger {
    font-size: 20px;
  }
  .codeblock {
    overflow: hidden;
  }
}
@media (max-width: 376px) {
  .codeblock > div,
  .codeblock > li,
  .codeblock > p {
    font: size 10px;
  }
  .sectionBlocks p,
  .sectionBlocks li {
    font-size: 10px;
    background-color: none;
  }
  .course-title {
    font-size: 16px;
  }
  .collapsible-trigger {
    font-size: 15px;
  }
  .collapsible-trigger-opened {
    color: #42d786;
    font-size: 15px;
    font-weight: bolder;

    padding-bottom: 20px;
  }
  .sectionBlocks h3 {
    font-weight: bold;
  }
  .sectionBlocks h4 {
    font-weight: bold;
    font-size: 15px;
  }
  .sections h4 {
    font-size: 15px;
  }
  .sectionBlocks h5 {
    font-size: 15px;
  }
  #quizBtn {
    left: 0% !important;
    top: 30px;
  }
}
