@font-face {
  font-family: HandyCheera;
  src: url("../fonts/Handycheera.otf");
}
@font-face {
  font-family: Baufra;
  src: url("../fonts/Baufra-Medium.woff");
}
@font-face {
  font-family: Baufra-Bold;
  src: url("../fonts/Baufra-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
}
.carousel-caption h5 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #21c921;
  font-family: Baufra-Bold;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 1.9;
  font-weight: 400;
}
.carousel-caption a {
  text-transform: uppercase;
  /* background: red; */
  /* me testing */
  border: 3px solid #6268e160;
  border-radius: 15px;
  /*  */
  font-family: Montserrat;
  font-weight: bold;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}
.carousel-caption a:hover {
  text-decoration: none;
  color: white;
  /* background: rgb(185, 0, 0); */
  /* ME TESTING */
  background-color: #6268e160;
}
.homeLogo {
  font-family: HandyCheera;
  font-size: 40px !important;
}
.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  text-align: center;
}
.nav-link {
  padding: 0.2rem 1rem;
}
.nav-link.active,
.nav-link:focus {
  color: #fff;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.w-100 {
  height: 100vh;
}
.nav-item a {
  font-family: Baufra-Bold !important;
  font-size: 20px !important;
  font-weight: 200 !important;
}
@media only screen and (max-width: 767px) {
  .navbar-nav.ml-auto {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-nav a {
    font-size: 14px;
  }
}

#navbarSupportedContent {
  background-color: transparent !important;
}

.hom1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/img/home1.jpg);
}
.hom2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/img/home2.jpg);
}
.hom3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../images/img/home3.jpg);
}

.tryPic {
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* responsiveness */

@media (max-width: 600px) {
  .carousel-item p {
    /* display: none; */
    line-height: 30px;
    margin-top: 20px;
    width: fit-content;
  }
  .carousel-item h5 {
    font-size: 30px;
  }
  .navbar-dark {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
