@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: Baufra-Bold;
  src: url("../fonts/Baufra-Bold.ttf");
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

.contnav {
  margin: 0;
  padding: 0;
  width: 100%;
  opacity: 0.9;
}
#hnavbar {
  background-color: white;
}
#introText {
  color: #dae3f1;
  padding: 15px;
}
#mainHead {
  font-family: "Baufra-Bold";
}
#neo {
  color: #08d108;
}
#paragraphsHome {
  font-family: "Montserrat", sans-serif;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
