.text-green {
  color: #42d786;
}
.text-blue {
  color: #6268e1;
}
.login-container {
  position: relative;
  bottom: 40px;
}
#LoginUndrawImg {
  position: absolute;
  bottom: -88px;
  right: 20px;
  width: 350px;
}
.login-info {
  margin-top: 10%;
  border-radius: 25px;
  height: 400px;
  width: 30%;
  border-radius: 26px;
}
.user-inputs {
  background: #0f0f11;
  box-shadow: 30px 30px 60px #060607, -30px -30px 60px #18181b;
  border-radius: 25px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.user-inputs-signup {
  height: 480px;
}
.user-inputs-login {
  height: 100%;
}
.user-inputs > input {
  border-radius: 6px;
  background: #262b30;
  box-shadow: inset 14px 14px 28px #1f2327, inset -14px -14px 28px #2d3339;
  border: none;
  outline: none;
}

.userImg {
  position: absolute;
  width: 100px;
  top: -60px;
  margin-left: auto;
  border-radius: 50%;
  background: linear-gradient(315deg, #101012, #0e0e0f);
  box-shadow: -30px -30px 60px #060607, 30px 30px 60px #18181b;
}
.bg-outline-btn {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  font-weight: bold;
}
.logging-btn-green {
  color: #1f2327;
  background-color: #42d786;
  border: 2px solid #42d786;
}
.logging-btn-green:hover {
  color: #42d786;
  background-color: #1f2327;
  border-color: #42d786;
}
.logging-btn-blue {
  color: #1f2327;
  background-color: #6268e1;
  border: 2px solid #6268e1;
}
.logging-btn-blue:hover {
  color: #6268e1;
  background-color: #1f2327;
  border-color: #6268e1;
}
.toggle-switch-container {
  background: none;
  height: 120px;
  width: 250px;
  position: absolute;
  /* top: 10px;
  right: 100px; */
  top: 160px;
  right: -125px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.login-checkbox-text {
  position: absolute;
  top: 15px;
  color: #6268e1;
  font-weight: bold;
  padding: 5px;
  padding-left: 17px;
}
input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  height: 30px;
  width: 65px;
  box-shadow: 32px 32px 65px #060607, -32px -32px 65px #18181b;
  border-radius: 40px;
  left: 15px;
  background: linear-gradient(145deg, #101012, #0e0e0f);
  outline: none;
  border: 3px solid #ececec;
  cursor: pointer;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  transition: 0.3s;
}

input[type="checkbox"]:before {
  height: 18px;
  width: 18px;
  /* background-color: #ebe5e5;
  box-shadow: 20px 20px 60px #c9c9c9, -20px -20px 60px #ffffff; */
  box-shadow: -3px -3px 6px #ffffffa6, 3px 3px 6px rgba(70, 70, 70, 0.12),
    inset -3px -3px 6px rgba(255, 255, 255, 0.65),
    inset 3px 3px 6px rgba(70, 70, 70, 0.12);
  background-color: #ececec;
  box-shadow: 10px 10px 30px #15171a, -10px -10px 30px #292f34;
  border-radius: 50%;
  left: 2px;
}

input[type="checkbox"]:after {
  height: 15px;
  width: 15px;
  background-color: #6268e1;
  border-radius: 50%;
  right: -30px;
}

input[type="checkbox"]:checked:before {
  left: 35px;
}

input[type="checkbox"]:checked:after {
  background-color: #55f696;
}
.mobile-btn-disp {
  position: absolute;
  left: 23%;
}
/* tab landscape */
@media (max-width: 1024px) {
  .login-info {
    margin-top: 15%;
    border-radius: 25px;
    height: 400px;
    width: 80%;
    border-radius: 26px;
  }

  #LoginUndrawImg {
    visibility: hidden;
  }
  .toggle-switch-container {
    top: -20px;
    right: -150px;
  }
}
/* ipad potrait */
@media (max-width: 768px) {
  .login-info {
    margin-top: 30%;
    border-radius: 25px;
    /* height: 600px; */
    width: 80%;
    border-radius: 26px;
  }
  .mobile-btn-disp {
    left: 15%;
    top: 50px;
  }
}
@media (max-width: 450px) {
  .login-info {
    margin-top: 20%;
    border-radius: 25px;
    height: 400px;
    width: 80%;
    border-radius: 26px;
  }
  .mobile-btn-disp {
    left: 38%;
    top: 110%;
  }
  .toggle-switch-container {
    top: 135%;
    left: 72vw;
  }
}
.wrongpassword > div {
  background-color: transparent;
}
