@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

.mnavbar {
  margin: 0;
  opacity: 0.8;
  border-bottom: 1px aliceblue solid;
  height: 50px;
  background-color: #262b30;
}
.mnav-i {
  font-weight: 800;
  text-transform: uppercase;
}

.mnavbar-nav .mnav-link {
  color: #fff;
}
.mnavbar-toggler {
  border: 2px solid black;
  border-radius: 0;
  outline: none;
}

.gen {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px !important;
}

@media (max-width: 600px) {
  .mnavbar {
    height: 65px !important;
  }
}
