.profile-display {
  margin-right: 20px;
  border-radius: 15px;
  background: #6268e1;
}
#userProfileImg > img {
  background: #6268e1;
  height: 150px;
}
#userProfileImg {
  height: fit-content;
}
#username {
  background: #6268e1;
  color: #262b30;
  font-weight: bold;
  font-family: Baufra-Bold;
  text-transform: capitalize;
}

#username > img {
  background: #6268e1;
}
.pointsImg > img {
  border-radius: 50%;
}
#points-display {
  margin: 20px;
  font-family: Baufra-Bold;
  width: 500px;
  border-radius: 15px;
  /* border: 2px solid white; */
  background: #262b30;
  box-shadow: -19px 19px 38px #202428, 19px -19px 38px #2c3238;
}
.points-quote {
  margin-left: 200px;
}
.points-quote > h6 {
  border-radius: 10px;
  border: 2px solid #6268e1;
}

.test-name > div {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
#courses-details {
  width: 300px;
  height: fit-content;
  align-self: center;
  border-radius: 15px;
  background: #262b30;
  box-shadow: -19px 19px 38px #202428, 19px -19px 38px #2c3238;
  /* border: 2px solid white; */
  margin: 20px;
  padding: 10px;
}
#courses-details > div > div {
  margin: 5px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.completedCourse-wrapper {
  background: #262b30;
  box-shadow: -19px 19px 38px #202428, 19px -19px 38px #2c3238;
  border-radius: 15px;
  width: 80%;
}
#CompletedCourses {
  width: 90%;
  height: fit-content;
  justify-content: center;
  justify-self: center;
  margin: 20px;
  padding: 10px;
}
#CompletedCourses > img {
  border-radius: 10px;
}
#editProfileIcon:hover {
  cursor: pointer;
}

/* @media (max-width: 1024px) {
  #userProfileImg > img {
    height: 80px;
    width: 100%;
    align-self: center;
  }
  .profile-display {
    width: 100px;
  }
  .profile-display > h3 {
    font-size: 20px;
  }
  #points-display {
    width: 250px;
  }
  
} */
