Link {
  text-decoration: none;
}
.text-color-dark-blue {
  color: #262b30;
  font-weight: bolder;
}
.bg-color-green {
  background-color: #42d786;
  color: #262b30;
  font-weight: bold;
}
.btn-outline-green {
  border-color: #42d786;
  color: #42d786;
}

#CourseSearchInput {
  background-color: #42d786;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  color: #262b30;
}
#CourseSearchInput + button {
  color: #42d786;
  border-color: #42d786;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  max-width: 50%;
  outline: none;
}
#CourseSearchInput + button:hover {
  background: #42d786;
  border-left-width: 3px;
  border-left-color: #262b30;
  color: #262b30;
}
#discover-btn > a {
  width: 150px;
  color: #6268e1;
  border-color: #6268e1;
  font-weight: bold;
}
#discover-btn > a:hover {
  background: #6268e1;
  color: #262b30;
}
#searchOptionFIlter {
  height: 39px;
  min-width: 120px;
}
#WebScreenImg {
  top: 20px;
  right: 100px;
  transition: 0.5s ease-in-out;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  border: 2px solid #42d786;
  transform: rotateX(-45deg) rotateY(-30deg) rotateZ(-21deg);
  transform-origin: 50% 50% 0px;
  animation: webscreenproject ease-in-out 0.9s;
  animation-fill-mode: forwards;
}
@keyframes webscreenproject {
  0% {
    transform: rotateX(-49deg) rotateY(-39deg) rotateZ(-21deg) scale(0);
    transform-origin: 44% 43% -490px;
    height: 50px;
  }
  100% {
    transform: rotateX(-45deg) rotateY(-30deg) rotateZ(-21deg) scale(1);
    transform-origin: 50% 50% 0px;
    opacity: 100%;
  }
}

#GuySittingImg {
  bottom: 10px;
  left: 100px;
}
#welcome-page {
  margin: 100px 20px;
}
#catelog-browse {
  margin-top: 150px;
}
